.idea
.venv
*.pyc
static
media
medical_back/settings_dev.py
medical_back/settings_prod.py
.DS_Store
.vscode/settings.json
.vscode/launch.json
.vscode/tags
pytest.ini
data
uploads
.env
vandelay-py.js
.envrc
files
http-client/request.http
http-client/http-client.env.json
